**Q1:**

Extract the data for the rows where the "%" column is greater than 50 from elections DataFrame.

**Q2:**

Retrieve the data for the last three rows and last three columns in elections DataFrame.

**Q3:**

Extract the data for the rows where the "Year" column is between 2000 and 2018 (inclusive) and the "%" column is greater than 50% from elections DataFrame.

**Q4:**

Retrieve the data for the first three rows and columns with index positions 1, 3, and 5 in elections DataFrame.

**Q5:**

Retrieve the data for every alternate row starting from the second row, and every alternate column starting from the third column, in the DataFrame.

**Q6:**

Select the results of a particular party from year 1988 to 2020 where the % win is greater than 50%.