In [1]:
import pandas as pd # A general purpose Python library for data analysis
import numpy as np # A library for scientific computing in Python (e.g., provides high-performance multi-dimensional array objects and operations)

import matplotlib.pyplot as plt # a plotting library for Python and NumPy (readily customizable)
import seaborn as sns # Another plotting library for Python (fewer syntax, excellent default themes, behind the scenes, it uses matplotlib)
import time

## Knowledge Stream Summer 2023

In this notebook, we will learn about the key data structures provided by the Pandas library: **Data Frames, Series, and Indices**.

In addition, we will learn about the following operations:
* How to access data contained in these structures?
* How to read files (e.g., csv, xlsx, sql) to create these structures?
* How to carry out different data manipulation tasks using these structures?

`Dataset`: US elections with information about candidates, their party, votes won, year of election and the result.

## Reading in Data Frames from Files

Pandas has a number of useful file reading tools. You can see them enumerated by typing **"pd.re"** and pressing `tab`. We'll be using **read_csv** today. Note that these file reading functions do all the *data parsing* for you, which is very useful.

Before loading a file into a dataframe, let's first take a look at the **elections.csv** file

In [2]:
a = pd.read_csv("elections.csv")
a.head()

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

We can use the **head command** to show only a few rows of a dataframe.

# heading
## heading2

In [3]:
a.head()

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

There is also a **tail command**.

In [4]:
a.tail()

   Candidate       Party     %  Year Result
18    McCain  Republican  45.7  2008   loss
19     Obama  Democratic  51.1  2012    win
20    Romney  Republican  47.2  2012   loss
21   Clinton  Democratic  48.2  2016   loss
22     Trump  Republican  46.1  2016    win

The `read_csv` command lets us specify a **column to use an index**. For example, we could have used __Year__ as the index.

In [5]:
a["Year"]

0     1980
1     1980
2     1980
3     1984
4     1984
5     1988
6     1988
7     1992
8     1992
9     1992
10    1996
11    1996
12    1996
13    2000
14    2000
15    2004
16    2004
17    2008
18    2008
19    2012
20    2012
21    2016
22    2016
Name: Year, dtype: int64

Alternately, we could have used the **set_index** commmand on the dataframe.

In [7]:
a.set_index("Party")

            Candidate     %  Year Result
Party
Republican     Reagan  50.7  1980    win
Democratic     Carter  41.0  1980   loss
Independent  Anderson   6.6  1980   loss
Republican     Reagan  58.8  1984    win
Democratic    Mondale  37.6  1984   loss
Republican       Bush  53.4  1988    win
Democratic    Dukakis  45.6  1988   loss
Democratic    Clinton  43.0  1992    win
Republican       Bush  37.4  1992   loss
Independent     Perot  18.9  1992   loss
Democratic    Clinton  49.2  1996    win
Republican       Dole  40.7  1996   loss
Independent     Perot   8.4  1996   loss
Democratic       Gore  48.4  2000   loss
Republican       Bush  47.9  2000    win
Democratic      Kerry  48.3  2004   loss
Republican       Bush  50.7  2004    win
Democratic      Obama  52.9  2008    win
Republican     McCain  45.7  2008   loss
Democratic      Obama  51.1  2012    win
Republican     Romney  47.2  2012   loss
Democratic    Clinton  48.2  2016   loss
Republican      Trump  46.1  2016    win

In [12]:
a.reset_index()

          Party Candidate     %  Year Result
0    Republican    Reagan  50.7  1980    win
1    Democratic    Carter  41.0  1980   loss
2   Independent  Anderson   6.6  1980   loss
3    Republican    Reagan  58.8  1984    win
4    Democratic   Mondale  37.6  1984   loss
5    Republican      Bush  53.4  1988    win
6    Democratic   Dukakis  45.6  1988   loss
7    Democratic   Clinton  43.0  1992    win
8    Republican      Bush  37.4  1992   loss
9   Independent     Perot  18.9  1992   loss
10   Democratic   Clinton  49.2  1996    win
11   Republican      Dole  40.7  1996   loss
12  Independent     Perot   8.4  1996   loss
13   Democratic      Gore  48.4  2000   loss
14   Republican      Bush  47.9  2000    win
15   Democratic     Kerry  48.3  2004   loss
16   Republican      Bush  50.7  2004    win
17   Democratic     Obama  52.9  2008    win
18   Republican    McCain  45.7  2008   loss
19   Democratic     Obama  51.1  2012    win
20   Republican    Romney  47.2  2012   loss
21   Democratic   Clinton  48.2  2016   loss
22   Republican     Trump  46.1  2016    win

# Caution:
The **set_index command** (along with all other data frame methods) **does not modify the dataframe**, i.e., the original "elections" is untouched. Note: There is a flag called "inplace" which does modify the calling dataframe (e.g., `elections.set_index("Party",inplace=True)`).

## Duplicate Columns?
By contast, column names MUST be unique. For example, if we try to read in a file for which column names are not unique, Pandas will automatically any duplicates. Load duplicate_columns.csv

In [18]:
ab = pd.read_csv("/workspaces/Advance_DS/duplicate_columns.csv")

ab

    name    name.1      flavor
0   john     smith     vanilla
1  zhang      shan   chocolate
2  fulan  alfulani  strawberry
3   hong   gildong      banana

## The [ ] Operator & Indexing

The DataFrame class has an indexing operator **[ ]** (also known as the 'brack' operator) that lets you do a variety of different things. If your provide a String to the **[ ]** operator, you get back a ***Series*** corresponding to the requested label.

1.Use **[ ]** to display different columns

2.Use List retrive multiple columns

In [22]:
columns_name = ab['name']
columns_name

0     john
1    zhang
2    fulan
3     hong
Name: name, dtype: object

The **[ ]** operator also accepts a list of strings. In this case, you get back a **DataFrame** corresponding to the requested strings.

In [ ]:
# Answer Here

A list of one label also returns a DataFrame. This can be handy if you want your results as a DataFrame, not a series.

Note that we can also use the **to_frame** method to turn a Series into a DataFrame.

Extract one col name "Candidates" from DataFrame it will be a series. Convert series into a DataFrame.

In [ ]:
# Answer Here

In [ ]:
# Answer Here

### Row Indexing

The `[]` operator also accepts numerical slices as arguments. In this case, we are indexing by row, not column!

Extract few rows from DataFrame

In [ ]:
# Answer Here

If you provide a single argument to the `[]` operator, it tries to use it as a name. This is true even if the argument passed to **[ ]** is an integer.

In [ ]:
#elections[0] #this does not work, try uncommenting this to see it fail in action, woo

The following cells allow you to **test your understanding**. Let's go over the summary of what we have learnt (see slides).

# Creating DataFrames
Create DataFrame using List and Columns name.

In [ ]:
# Answer Here

Creating DataFrames using **Dictionary**.

In [ ]:
# Answer Here

## Filtering via Boolean Array Selection

The `[]` operator also supports array of booleans as an input. In this case, the array must be exactly as long as the number of rows. The result is a **filtered version of the data frame**, where **only rows corresponding to True appear**.

In [ ]:
elections[[False, False, False, False, False,
          False, False, True, False, False,
          True, False, False, False, True,
          False, False, False, False, False,
          False, True, False]]

One very common task in Data Science is **filtering**. Boolean Array Selection is one way to achieve this in Pandas. We start by observing that **logical operators** like the equality operator can be applied to **Pandas Series data** to generate a **Boolean Array**.

Compare the 'Result' column to the String 'win' and Show results

In [ ]:
#Answer Here

Compare the 'Party' column to the String 'Democratic' and Show results

In [ ]:
#Answer Here

The output of the logical operator applied to the Series is **another Series with the same name and index, but of datatype boolean**.

These boolean Series can be used as an argument to the `[]` operator.

Creates  DataFrame of all election winners since 1980.

In [ ]:
#Answer Here

Above, we've assigned the result of the logical operator to a new variable called `iswin`. This is uncommon. Usually, the series is created and used on the same line. Such code is a little tricky to read at first, but you'll get used to it quickly.

Show all 'win' results between 1980 to 2000

In [ ]:
#Answer Here

Show all 'Loss' results of Independent party

In [ ]:
# Answer Here

We can select multiple criteria by creating multiple boolean Series and combining them using the `&` operator.

Show results of win with percentage less than 50%

In [ ]:
# Answer Here

Show all 'win' results between 1980 to 2000

In [ ]:
# Answer Here

## Loc and iLoc

Show 5 enteries from start

In [ ]:
# Answer Here

You can provide `.loc` a list of row labels [0-5] and column labels ['Candidate','Party', 'Year'] as input to return a dataframe

In [ ]:
#Answer Here

Loc also supports **slicing** (for all types, including numeric and string labels!). Note that the slicing for loc is **inclusive**, even for numeric slices.

Use Slicing on Rows and Columns

In [ ]:
# Answer Here

If we provide only a **single label** for the column argument, we get back a **Series**.

In [ ]:
# Answer Here

If we want a data frame instead and don't want to use to_frame, we can provide a **list** containing the column name.

In [ ]:
# Answer Here

If we give only one row but many column labels, we'll get back a **Series** corresponding to a row of the table. This new Series has a neat index, where **each entry is the name of the column** that the data came from.

In [ ]:
# Answer Here

In [ ]:
# Answer Here

If we omit the column argument altogether, the **default behavior is to retrieve all columns**.

In [ ]:
# Answer Here

Specify Rows and Columns as List to retrive specific enteries

In [ ]:
# Answer Here

Boolean Series are also boolean arrays, so we can use the Boolean Array Selection from earlier using loc as well.

In [ ]:
# Answer Here

## String-labeled Rows

Let's do a quick example using data with string-labeled rows instead of integer labeled rows, just to make sure we're really understanding loc.

Use mottos.csv file

In [ ]:
# Answer Here

Extract slice, can be specified using slice notation, even if the rows have string labels instead of integer labels.

### iloc

loc's cousin iloc is very similar, but is used to access based on numerical position instead of label. For example, to access to the top 3 rows and top 3 columns of a table, we can use [0:3, 0:3]. 'iloc' slicing is **exclusive**, just like standard Python slicing of numerical values.

Use iloc to extract first 3 rows and columns from elections DataFrame

In [ ]:
#Answer Here

We will use both `loc` and `iloc` in the course. `loc` is generally preferred for a number of reasons, for example:

1. It is harder to make mistakes since you have to literally write out what you want to get.
2. Code is easier to read, because the reader doesn't have to know e.g., what column #17 represents.
3. It is robust against permutations of the data, e.g. the social security administration switches the order of two columns.

However, iloc is sometimes more convenient. We'll provide examples of when iloc is the superior choice.

## Handy Properties and Utility Functions for Series and DataFrames

The head, shape, size, and describe methods can be used to quickly get a good sense of the data we're working with. For example:

In [5]:
mottos = pd.read_csv("/content/drive/MyDrive/mottos.csv")

In [ ]:
# Answer Here

Size of DataFrame

In [ ]:
# Answer Here

The fact that the size is 250 means our data file is relatively small, with only 250 total entries.

Shape of DataFrame

In [ ]:
# Answer Here

Use describe function and extract the meaningful information from DataFrame

In [ ]:
# Answer Here

Above, we see a quick summary of all the data. For example, the most common language for mottos is Latin, which covers 23 different states. Does anything else seem surprising?

We can get a direct reference to the index using .index.

In [ ]:
# Answer Here

In [ ]:
mottos.head(2)

It turns out the columns also have an Index. We can access this index by using `.columns`.

In [18]:
# Answer Here

Index(['State', 'Motto', 'Translation', 'Language', 'Date Adopted'], dtype='object')

## Sorting and Value Counts

There are also a ton of useful utility methods we can use with Data Frames and Series. For example, we can create a copy of a data frame sorted by a specific column using `sort_values`.

In [20]:
# Answer Here

As mentioned before, all Data Frame methods return a copy and do **not** modify the original data structure, unless you set inplace to True.

If we want to sort in reverse order, we can set `ascending=False`.

In [ ]:
elections.sort_values('%', ascending=False)

We can also use `sort_values` on Series objects.

In [ ]:
mottos['Language'].sort_values().head(50)

For Series, the `value_counts` method is often quite handy.

In [ ]:
mottos['Language'].value_counts()

Also commonly used is the `unique` method, which returns **all unique values** as a numpy array.

In [ ]:
mottos['Language'].unique()

In [29]:
def fiba(n):
    if n < 2:
        return n
    else:
        return fiba(n-1) + fiba(n-2)



fiba(5)

5

# Thank you!