In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from IPython.display import display
from IPython.display import Image
sns.set_context("notebook")

In [4]:
#from google.colab import drive
#drive.mount('/content/drive')

# Extracting Data and Filtering
:The `[]` operator supports array of booleans as an input. In this case, the array must be exactly as long as the number of rows.

The result is a **filtered version of the data frame**, where **only rows corresponding to True appear**.

# Q1.
Select multiple criteria by creating multiple boolean Series and combining them using the `&` operator. For Examole Result is win and %win is more than 50.

In [5]:
elections = pd.read_csv("/workspaces/Advance_DS/elections.csv") # reading a CSV file into a data frame
 # if we end a cell with an expression or variable name, the result will print
# the data frame

In [6]:
# Result is win and %win is more than 50
extract_data = elections[(elections['Result'] == 'win')&(elections['%'] >50)]
print('Result is win and %win is more than 50 : \n\n',extract_data)

Result is win and %win is more than 50 :

    Candidate       Party     %  Year Result
0     Reagan  Republican  50.7  1980    win
3     Reagan  Republican  58.8  1984    win
5       Bush  Republican  53.4  1988    win
16      Bush  Republican  50.7  2004    win
17     Obama  Democratic  52.9  2008    win
19     Obama  Democratic  51.1  2012    win

We will nowe work with a dataset containing the names of all babies born in California, USA. Visit the [Social Security Adminisitration Website](https://www.ssa.gov/oact/babynames/limits.html) for more details about the dataset if you want.

**Let's start by loading the Baby Names dataset.**

In [7]:
import urllib.request
import os.path
import zipfile
import pandas as pd

data_url = "https://www.ssa.gov/oact/babynames/state/namesbystate.zip"
local_filename = "babynamesbystate.zip"
if not os.path.exists(local_filename): # if the data exists don't download again
    with urllib.request.urlopen(data_url) as resp, open(local_filename, 'wb') as f:
        f.write(resp.read())

zf = zipfile.ZipFile(local_filename, 'r')

ca_name = 'STATE.CA.TXT'
field_names = ['State', 'Sex', 'Year', 'Name', 'Count']
with zf.open(ca_name) as fh:
    babynames = pd.read_csv(fh, header=None, names=field_names)

babynames.head(15)

   State Sex  Year       Name  Count
0     CA   F  1910       Mary    295
1     CA   F  1910      Helen    239
2     CA   F  1910    Dorothy    220
3     CA   F  1910   Margaret    163
4     CA   F  1910    Frances    134
5     CA   F  1910       Ruth    128
6     CA   F  1910     Evelyn    126
7     CA   F  1910      Alice    118
8     CA   F  1910   Virginia    101
9     CA   F  1910  Elizabeth     93
10    CA   F  1910   Florence     93
11    CA   F  1910      Marie     90
12    CA   F  1910    Mildred     90
13    CA   F  1910       Rose     74
14    CA   F  1910      Hazel     68

# Q2.
Calculate the some statics of babynames DataFrame using Utility Functions, like .describe(), .size(), .shape() and report your analysis in comments

In [8]:
print('Describe the Babynames DataFrame :\n\n',babynames.describe())
print('\nSize the Babynames DataFrame :',babynames.size)
print('\nShape the Babynames DataFrame :',babynames.shape)

Describe the Babynames DataFrame :

                 Year          Count
count  407428.000000  407428.000000
mean     1985.733609      79.543456
std        27.007660     293.698654
min      1910.000000       5.000000
25%      1969.000000       7.000000
50%      1992.000000      13.000000
75%      2008.000000      38.000000
max      2022.000000    8260.000000

Size the Babynames DataFrame : 2037140

Shape the Babynames DataFrame : (407428, 5)

# Q.3:

Using the babynames DataFrame that contains baby names data for the state of California, how can you use the 'isin' method to find out which records have names that are in a given list of names, such as "Emma," "Liam," and "Olivia," and what would be the output of this operation when applied to the first 15 rows of the DataFrame (babynames.head(15))?

In [9]:
# List of names to check
name_list = ["Emma", "Liam", "Olivia"]

# Use the isin method to filter records with names in the name_list
filtered_df = babynames[babynames['Name'].isin(name_list)]

# Display the filtered DataFrame
print("Filtered DataFrame: \n\n",filtered_df)

Filtered DataFrame:

        State Sex  Year    Name  Count
53        CA   F  1910    Emma     29
293       CA   F  1911    Emma     29
525       CA   F  1912    Emma     56
701       CA   F  1912  Olivia      8
840       CA   F  1913    Emma     56
...      ...  ..   ...     ...    ...
396005    CA   M  2019    Liam   2401
398870    CA   M  2020    Liam   2426
401402    CA   M  2020    Emma      5
401666    CA   M  2021    Liam   2477
404545    CA   M  2022    Liam   2610

[283 rows x 5 columns]

# Q.4:
How can you use the 'str.startswith' method in pandas to filter records in a babyname DataFrame? Provide an example code using the babynames DataFrame and explain how this method can be employed to extract data for baby names that begin with 'A' or 'B' set of letters.

In [10]:
# Filter rows where the 'Name' column starts with 'A' OR B
filtered_df = babynames[(babynames['Name'].str.startswith('A')) | (babynames['Name'].str.startswith('B'))]

# Display the filtered DataFrame
print("Baby names starting with 'A' OR B: \n\n" , filtered_df)

Baby names starting with 'A' OR B:

        State Sex  Year     Name  Count
7         CA   F  1910    Alice    118
23        CA   F  1910  Bernice     59
31        CA   F  1910     Anna     51
32        CA   F  1910      Ann     47
36        CA   F  1910    Betty     40
...      ...  ..   ...      ...    ...
407125    CA   M  2022   Brando      5
407126    CA   M  2022  Braxtyn      5
407127    CA   M  2022  Brenden      5
407128    CA   M  2022     Brix      5
407129    CA   M  2022    Broly      5

[61691 rows x 5 columns]

# Q.5

Find the most popular baby name in California in 2012

__Exercise__: Try to find the most popular baby name by finding the maximum value for 'Count' and then apply filtering to find the name.

In [11]:
# Find the most popular baby name in California in 2012
filtered_df = babynames[(babynames['State'] == 'CA') & (babynames['Year'] == 2012)]
most_popular_name = filtered_df[filtered_df['Count'] == filtered_df['Count'].max()]

# Display the most popular baby name
print("Most popular baby name in California in 2012: \n\n", most_popular_name)

Most popular baby name in California in 2012:

        State Sex  Year    Name  Count
197530    CA   F  2012  Sophia   3644

# Q. 6
Find baby names that start with J, in th Year from 2001 to 2019

*Note: To answer this question, we need a way to look at the individual characters of the baby names*

In [12]:
# Note: Series has powerful string manipulation methods associated with it

# Filter rows where the 'Name' column starts with 'J'

#                     Method # 1

# filtered_df = babynames[(babynames['Name'].str.startswith('J')) & (babynames['Year'].between(2001, 2019))]

#                     Method # 2

filtered_df = babynames[(babynames['Name'].str[0] == 'J') & ((babynames['Year'] >= 2001) & (babynames['Year'] <=2019))]

# Display the filtered DataFrame
print("Baby names starting with 'J' in the Year from 2001 to 2019: \n\n", filtered_df)

Baby names starting with 'J' in the Year from 2001 to 2019:

        State Sex  Year         Name  Count
152826    CA   F  2001      Jessica   2244
152828    CA   F  2001     Jennifer   2027
152832    CA   F  2001      Jasmine   1655
152847    CA   F  2001   Jacqueline   1195
152857    CA   F  2001        Julia    983
...      ...  ..   ...          ...    ...
398685    CA   M  2019  Joseantonio      5
398686    CA   M  2019       Jovian      5
398687    CA   M  2019       Jujhar      5
398688    CA   M  2019      Jullian      5
398689    CA   M  2019         June      5

[11276 rows x 5 columns]

# Q.7
Add a new column called "name_length" to the babynames DataFrame, you can use .str.len() in existing Name column. Moreover. also modify the Length values with new values like existing_value-1 and rename the length column with new label as desceribe in slides.

In [13]:
# Calculate the length of each name and add it as a new column "_length"
babynames['name_length'] = babynames['Name'].str.len()

# Display the updated DataFrame
print("Updated DataFrame: \n\n", babynames)

Updated DataFrame:

        State Sex  Year      Name  Count  name_length
0         CA   F  1910      Mary    295            4
1         CA   F  1910     Helen    239            5
2         CA   F  1910   Dorothy    220            7
3         CA   F  1910  Margaret    163            8
4         CA   F  1910   Frances    134            7
...      ...  ..   ...       ...    ...          ...
407423    CA   M  2022   Zayvier      5            7
407424    CA   M  2022       Zia      5            3
407425    CA   M  2022      Zora      5            4
407426    CA   M  2022    Zuriel      5            6
407427    CA   M  2022      Zylo      5            4

[407428 rows x 6 columns]

In [14]:
# Rename the "_length" column to "Length"
rename_column_name = babynames.rename(columns={'name_length': 'Length'}, inplace=True)
print("Renamed DataFrame: \n\n", babynames)

Renamed DataFrame:

        State Sex  Year      Name  Count  Length
0         CA   F  1910      Mary    295       4
1         CA   F  1910     Helen    239       5
2         CA   F  1910   Dorothy    220       7
3         CA   F  1910  Margaret    163       8
4         CA   F  1910   Frances    134       7
...      ...  ..   ...       ...    ...     ...
407423    CA   M  2022   Zayvier      5       7
407424    CA   M  2022       Zia      5       3
407425    CA   M  2022      Zora      5       4
407426    CA   M  2022    Zuriel      5       6
407427    CA   M  2022      Zylo      5       4

[407428 rows x 6 columns]

In [ ]:
# Suppose you want to delete the 'Lenght' column
# babynames.drop('Length', axis=1, inplace=True)
# print("Updated DataFrame: \n\n", babynames)

# Q.8

Use .str.split() to sample the names with 'ad' string and show first 10 samples.

In [15]:
# Use .str.split() to sample the names with 'ad' string and show first 10 samples
sample_df = babynames[babynames['Name'].str.contains('ad')].sample(10)
# Display the sample DataFrame
print("Sample DataFrame: \n\n", sample_df)

Sample DataFrame:

        State Sex  Year          Name  Count  Length
129415    CA   F  1994       Khadija     12       7
337967    CA   M  1998         Ahmad     64       5
396933    CA   M  2019           Jad     24       3
196860    CA   F  2011  Mariadejesus      6      12
400631    CA   M  2020         Hades      9       5
174142    CA   F  2006      Madilynn     17       8
281316    CA   M  1968         Brady     12       5
208254    CA   F  2014        Madina      8       6
184917    CA   F  2008         Kadie      5       5
228286    CA   F  2019        Jadore      5       6

More on str methods when we'll study regular expressions in this course. Note that there are other approaches that we can use to find the same answer as above.

In [16]:
# Create a boolean mask for rows containing 'ad' in the "Name" column
mask = babynames['Name'].str.contains('ad')

# Use the mask to select rows and sample 10 random rows
sample_df = babynames[mask].sample(10)

# Display the sample DataFrame
print("Sample DataFrame: \n\n", sample_df)

Sample DataFrame:

        State Sex  Year      Name  Count  Length
127458    CA   F  1993   Radhika      5       7
41500     CA   F  1959  Trinidad     10       8
392193    CA   M  2017    Madhav      8       6
148393    CA   F  1999     Kadie      6       5
268982    CA   M  1957   Arcadio      5       7
399617    CA   M  2020       Jad     33       3
105419    CA   F  1987   Cassady      5       7
153054    CA   F  2001   Madelyn    193       7
234180    CA   F  2021   Soledad     11       7
165126    CA   F  2004   Kadence     49       7

# Q.9
 Sort names by their length.

In the babynames DataFrame, which baby name appears most frequently across all years and states, and how can you use pandas to find this information? Provide the code and steps to determine the most popular baby name in the dataset.

In [17]:
# Group the data by "Name" and sum the "Count" for each name
name_counts = babynames.groupby('Name')['Count'].sum()
# print(name_counts)
# Find the name with the highest total count
most_popular_name = name_counts.idxmax()

# Display the most popular name and its count
print("Most popular baby name: ", most_popular_name)

Most popular baby name:  Michael

# Q.10

1: How can you use the .sample() method to randomly select a single row from the babynames DataFrame, and what is the purpose of such a selection?

2: Suppose you want to generate a random sample of 10 baby names from the babynames DataFrame. How would you use the .sample() method to achieve this, and what parameters or arguments would you specify?

3: In a scenario where you need to ensure reproducibility, explain how you can set a random seed when using the .sample() method in pandas. Why might this be important in certain data analysis tasks?

4: You want to perform a bootstrap resampling analysis on the baby names data in the babynames DataFrame. Describe how you can repeatedly sample with replacement using .sample() to create multiple bootstrap samples for statistical analysi

In [18]:
# babynames.drop('Length', axis=1, inplace=True)

#            ----------  Question 10 - Part 1  ----------

# 1: How can you use the .sample() method to randomly select a single row from
# the babynames DataFrame, and what is the purpose of such a selection?
random_selection = babynames.sample()
print(random_selection)

# Purpose of .sample method
# The most common usage of the pandas .sample() method is to get a sample of random rows from a pandas data frame.

#            ----------  Question 10 - Part 2  ----------

# 2: Suppose you want to generate a random sample of 10 baby names from the
# babynames DataFrame. How would you use the .sample() method to achieve this,
# and what parameters or arguments would you specify?

random_ten_selection = babynames.sample(10)
print('\nRandom sample of 10 baby names :\n',random_ten_selection)

#            ----------  Question 10 - Part 3  ----------

# 3: In a scenario where you need to ensure reproducibility, explain how you
# can set a random seed when using the .sample() method in pandas.

# Set the random seed
random_seed = 42

# Creating DataFrame for demonstration
data = {'A': range(10), 'B': range(10, 20)}
df = pd.DataFrame(data)

# Sampling with a random seed
sampled_df = df.sample(n=5, random_state=random_seed)

print('\nSampled Data Frame : \n\n',sampled_df)


# Why might this be important in certain data analysis tasks?

# This helps in achieving reproducibility in your data analysis tasks,
# which is crucial for ensuring the reliability of your findings, especially in
# research or critical decision-making processes.

#            ----------  Question 10 - Part 4  ----------

# 4th Part
# Assuming you have the 'babynames' DataFrame
# Set the random seed for reproducibility

# Number of bootstrap samples

# Sample size (same as the original dataset)

# Initialize a list to store bootstrap sample statistics

# Perform bootstrapping

    # Generate a bootstrap sample with replacement

    # Perform your statistical analysis on the bootstrap sample here
    # For example, you can calculate the mean, median, or other statistics

    # Append the statistic of interest to the list

       State Sex  Year     Name  Count  Length
137859    CA   F  1996  Promise      6       7

Random sample of 10 baby names :
        State Sex  Year     Name  Count  Length
223298    CA   F  2018      Ali     10       3
308714    CA   M  1986   Taylor    269       6
209467    CA   F  2014    Noely      5       5
173196    CA   F  2006     Anne     57       4
364717    CA   M  2008   Keenan     34       6
247066    CA   M  1927  Ygnacio     10       7
346134    CA   M  2001     Zack     14       4
244096    CA   M  1922     Rene     13       4
313295    CA   M  1988   Caesar     37       6
43063     CA   F  1960    Dolly     13       5

Sampled Data Frame :

    A   B
8  8  18
1  1  11
5  5  15
0  0  10
7  7  17

# Q.11
1: The code randomly mixes up the list of baby names. Why might someone want to do this, and how could it affect the analysis of the names?

2: After mixing, the code figures out how long each baby name is. Why would we care about name lengths, and what can this tell us about the names?

3: The code arranges the name lengths from longest to shortest. Why might we want to do this, and what could it help us find in the data?

4: The code finds the order of baby names based on their lengths and shows us the first few names in this new order. When might we need to organize names this way, and what might we discover from the first few names in this order?

In [ ]:
#Part1, shuffling can be done using sample(frac=1)


#Part2


#Part3

#Part4